<h1>Buscando: <small>{{termino}}</small></h1>
<hr>

<div class= "row animated fadeIn fast" *ngIf="palabra.length == 0">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      No existen resultados con el término: {{ termino }}
    </div>
  </div>
</div>

<div class ="card-columns">
  <!-- *ngFor="let heroe of palabra" 
  Solucion anterior: 
  <app-heroe-tarjeta [heroe]="heroe" *ngFor="let heroe of palabra" ></app-heroe-tarjeta> -->

    <app-heroe-tarjeta [heroe]="heroee" [index]="heroee.idx" *ngFor="let heroee of palabra"></app-heroe-tarjeta>

</div>
